<div class="panel linear">
	<div class="u_header">
		<a ng-href="{{user.status=='login'?'user/detail':user.url.login}}" class="img" style="background-image: url({{user.status=='login'?user.info.logo:'/images/avatar_man.png'}})"></a>
		<div class="flex" ng-show="user.status!='login'">
			<a ng-href="{{user.url.login}}" class="btn">登录</a><a ng-href="{{user.url.register}}" class="btn">注册</a>
		</div>
		<div class="tl_c" ng-show="user.status=='login'">
			欢迎，{{user.info.nickname}}
		</div>
	</div>
</div>
<div class="u_body panel flex tl_c">
	<a href="about/0"><img src="/images/user/u_h_0.png">公司介绍</a><hr class="s_hr">
	<a href="teacher"><img src="/images/user/u_h_1.png">师资力量</a><hr class="s_hr">
	<a href="picture"><img src="/images/user/u_h_2.png">特训现场</a>
</div>
<div class="u_footer">
	<div ng-if="user.status=='login'">
		<div class="panel" ng-repeat="m in list">
			<a ng-repeat="a in m.list" href="user/{{a.url}}"><i class="linear"><img src="/images/user/u_b_{{a.src}}.png"></i>{{a.txt}}</a>
		</div>
	</div>
	<div class="panel">
		<a href="help/0"><i class="linear"><img src="/images/user/u_b_5.png"></i>新手指南</a>
		<a href="help/1"><i class="linear"><img src="/images/user/u_b_6.png"></i>支付方式</a>
		<a href="help/2"><i class="linear"><img src="/images/user/u_b_7.png"></i>售后服务</a>
		<a href="help/3"><i class="linear"><img src="/images/user/u_b_8.png"></i>服务条款</a>
	</div>
	<label ng-show="user.status=='login'" ng-click="user.out()" class="btn f_b linear">退出登录</label>
</div>